<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1>Login Usuário</h1>

        
          <div>
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Enter Email Address..." %>
          </div>

          <div>
            <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <label>
              <%= f.check_box :remember_me %> Lembrar-me                                                      
            </label>
          <% end %> 

          <div class="btn btn-default submit">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <hr>                               
        
          <div class="text-center">
            <%= render "users/shared/links" %>
          </div>      
        
  </div>
</div>