<h1>Listando Administradores</h1>

 <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Login</th>
                <th><%= link_to new_admins_backoffice_admin_path, class: "btn-sm btn-success btn-circle" do %>
                    <i class="fas fa-plus"></i></th>  
                    <% end %>
                                
            </tr>
        </thead>
        
        <tbody>
            <% @admins.each do |admin| %>
            <tr>             
                <td><%= "#{admin.first_name} #{admin.last_name}" %></td>
                <td><%= admin.email %></td>
                <td style="width: 120px"> 
                  <%= link_to admins_backoffice_admin_path(admin), class: "btn-sm btn-primary btn-circle" do %>
                    <i class="fas fa-user"></i>
                  <% end %>
                  <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn-sm btn-secondary btn-circle" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to admins_backoffice_path(admin), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-sm btn-danger btn-circle" do %>
                    <i class="fas fa-trash"></i>
                  <% end %>                  
                </td>               
            </tr>
            <% end %>
                
        </tbody>
    </table>
    
    <%= paginate @admins %>
</div>